# Exclude to avoid parsing error
.eslintrc.js
# Don't lint any node_modules directories
node_modules
# Don't lint any build output directories
dist
# Don't lint nyc coverage output directories
coverage
