## Listed files are not uploaded by 'gcloud builds submit'

## ignore from root...
.git/
.vscode/
.editorconfig
.gcloudignore
.gitignore
cloudbuild.yaml
gcloudBuild.mjs
LICENCE
project-perform.code-workspace
README.md
runbuild.sh
skaffold-run.sh
skaffold.yaml
startup.sh
teardown.sh

## ignore from backend
backend/coverage/
backlog/dist/
backend/node_modules/
backend/.gitignore
backend/debug.log

## ignore from frontend
frontend/coverage/
frontend/dist
frontend/node_modules/
frontend/.gitignore
frontend/debug.log
