### Security-relevant ignores ###
certs/gcpStorage/gcpStorageKey.json
# Ignore yaml secrets files
**/*secret.yaml

# If files are not being ignored then they may have been previously added
# try git rm --cached <filename>, or git rm -r --cached <dirname> to get git
# to forget the file or directory.  (Don't forget the --cached, otherwise git
# will delete the file or directory.
